@model SZMALAPP.Models.UserLoginModel


@{ 
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>SZMAL company</title>
    <meta name="description" content="SZMAL">
    <meta name="author" content="FilipW">
    <link rel="icon" href="~/Content/img/icon.png">
    <link rel="stylesheet" href="~/Content/styles.css" />

    @Scripts.Render("~/Scripts/scripts.js")
</head>

<body>
    <div id="login-container">
        <div id="register-now">
            Zaloguj się
        </div>
        @Html.TextBoxFor(a => a.Login, new { @class = "input-box", placeholder = "Login" })
        <div id="failure-message" style="display: none;color:red;font-size:20px;">
            Nieprawidłowa nazwa użytkownika lub hasło!!
        </div>
        @Html.ValidationMessageFor(a => a.Login, "", new { @style = "color:red;font-size:20px;" })


        @Html.TextBoxFor(a => a.Password, new { @class = "input-box", @type = "password", placeholder = "Haslo" })


        <input type="submit" value="Zaloguj" class="submit-button" />

    </div>
</body>
    }