
@{
    ViewBag.Title = "Actual";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="main-container">
    <div class="content-title">
        Aktualne zgłoszenia
    </div>
    <div class="box-wrapper">
        <div class="left-box-view">
            <!-- Tu będą generowane boxy z kolejnymi zgłoszeniami bez szczegółów-->
            <div class="left-box-item">
                <div class="left-box-item-title">
                    Tytul zgloszenia
                </div>
                <div class="left-box-item-by">
                    Dodane przez: User
                </div>
                <div class="left-box-item-type">
                    Typ: Wodno-kanalizacyjne
                </div>
                <div class="left-box-item-date-start">
                    Od: 12-10-2019
                </div>
                <div class="left-box-item-date-end">
                    Do: 14-10-2019
                </div>
            </div>
            <div class="left-box-item">

            </div>
            <div class="left-box-item">

            </div>
            <div class="left-box-item">

            </div>
            <div class="left-box-item">

            </div>
        </div>
        <div class="right-box-view">
            <!-- Tu będą generowane szczegóły zgłoszenia wybranego z lewego boxa-->
            <div class="right-box-title">
                Tytul zgloszenia
            </div>
            <div class="right-box-by">
                Dodano przez: User
            </div>
            <div class="right-box-type">
                Typ: Wodno-Kanalizacyjne
            </div>
            <div class="right-box-date-start">
                Od: 12-10-2019
            </div>
            <div class="right-box-date-end">
                Do: 14-10-2019
            </div>
            <div class="right-box-description">
                Opis zgloszenia. <br />Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
                Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis... Opis opis opis...
            </div>
            <div class="right-box-image">
                <img class="right-box-image-class" src="https://image.spreadshirtmedia.net/image-server/v1/mp/compositions/T812A2PA3811PT17X20Y40D149382933FS3233/views/1,width=378,height=378,appearanceId=2,backgroundColor=000000,noPt=true,version=1565684945/wciaez-testowy-ekran-testowy-obrazu-testowego-premium-koszulka-meska.jpg" />
            </div>
            <div id="right-box-map">
                
            </div>
            <div style="clear: both; display: none"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <script>
        window.onload = showEventOnMap();
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHwdYW-xzRa23-EuuiaKSqcoy2x7Lspwo&">
    </script>
</div>



