@model SZMALAPP.Models.uzytkownik
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="main-container">
    <div class="content-title">
        Ustawienia profilu
    </div>
    <div class="edit-form">
        @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
        {
            <label class="edit-label" for="user-name">Imie</label>
            @Html.TextBoxFor(a => a.imie, new { @class = "form-edit", @id = "user-name" })<br />
            <label class="edit-label" for="user-surname">Nazwisko</label>
            @Html.TextBoxFor(a => a.nazwisko, new { @class = "form-edit", @id = "user-surname" })<br />
            <label class="edit-label" for="user-bday">Data Urodzenia</label>
            @Html.TextBoxFor(a => a.dataUrodzenia, new { @class = "form-edit", @id = "user-bday", type = "date" })<br />
            <label class="edit-label" for="user-phone">Numer Telefonu</label>
            @Html.TextBoxFor(a => a.telefon, new { @class = "form-edit", @id = "user-phone" })<br />
            <div style="text-align: center;">
                <input style="text-align: center;" type="submit" value="Zapisz" class="form-submit-class" />
            </div>

        }

        @using (Html.BeginForm("EditPassword", "User", FormMethod.Post))
        {
            <br /><br />
            <h2 style="text-align: center;">Zmiana hasła</h2>
            <label class="edit-label" for="user-password">Aktuane hasło</label>
            <input class="form-edit" type="password" id="user-password" /><br />
            <label class="edit-label" for="user-newpassword">Nowe hasło</label>
            <input class="form-edit" type="password" id="user-newpassword" /><br />
            <label class="edit-label" for="user-newpassword-again">Nowe hasło ponownie</label>
            <input class="form-edit" type="password" id="user-newpassword-again" />
            <div style="text-align: center;">
                <input style="text-align: center;" type="submit" value="Zapisz haslo" class="form-submit-class" />
            </div>
        }
    </div>
</div>