html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #595959;
    color: white;
}
#map {
    height: 600px;
    width: 100%;
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
}
.wrapper {
    min-height: calc(100vh - 50px);
}

.header {
    background-image: url(https://ssl.gstatic.com/atari/images/impression-header.png);
    background-size: cover;
    text-align: center;
}

.company-name {
    padding: 30px;
    text-align: left;
    color: white;
    font-size: 60px;
    font-family: Script;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(200, 25, 55);
    text-decoration-style: solid;
    float: left;
    width: 60%;
}

.welcome-your-name {
    color: white;
    font-weight: bold;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40px;
    float: left;
    width: 30%;
    padding: 30px;
}

.nav {
    width: 100%;
    padding-bottom: 10px;
    background-color: #e46767;
    text-align: center;
    border-top: 8px solid rgb(200, 25, 55);
    border-bottom: 2px solid rgb(200, 25, 55);
    clear: both;
}

.content {
    padding: 30px;
}

.footer {
    flex-shrink: 0;
    height: 40px;
    background-color: rgb(33, 33, 44);
    padding: 5px;
    text-align: center;
    opacity: 0.75;
}

.rights {
    margin: 0;
    padding: 0;
    color: white;
}

.footer-button {
    font-weight: bold;
    display: inline-block;
    padding: 5px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-left: 25px;
    margin-right: 25px;
    width: 200px;
}

.facebook {
    background-color: #3b5998;
    color: white;
}

    .facebook:hover {
        background-color: white;
        color: #3b5998;
    }

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

    ol a {
        color: #ffffff;
        text-decoration: none;
        display: block;
    }

    ol > li {
        float: left;
        width: 150px;
        height: 40px;
        border-right: 1px dashed rgb(200, 25, 55);
    }

        ol > li:first-child {
            border-left: 1px dashed #751b1b;
        }

        ol > li:hover {
            background-color: #e05252;
            border-bottom: 10px solid rgb(200, 25, 55);
        }

            ol > li:hover > a {
                font-weight: bold;
            }

        ol > li > ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: 40px;
            display: none;
        }

        ol > li:hover > ul {
            display: block;
        }

        ol > li > ul > li {
            background-color: #e05252;
            position: relative;
            z-index: 100;
            border-top: 1px dashed #751b1b;
        }

            ol > li > ul > li:hover {
                background-color: #dd3c3c;
            }

                ol > li > ul > li:hover > a {
                    color: white;
                    font-weight: 900;
                }

.main-container {
    height: 100%;
    margin: 0px;
}

.content-title {
    width: 100%;
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-form {
    margin-left: 25%;
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 24px;
    background-color: #9a9a9a;
    padding: 20px;
    border-radius: 25px;
}

.form-title {
    width: 800px;
    height: 50px;
    font-size: 32px;
    text-align: center;
    color: black;
    margin: 10px;
    border-radius: 25px;
}

.form-desc {
    font-size: 18px;
    padding: 10px;
    resize: none;
    border-radius: 25px;
}

.form-geo {
    font-size: 18px;
    border-radius: 5px;
    width: 180px;
}

.form-address {
    font-size: 18px;
    border-radius: 5px;
    width: 60%;
    text-align: center;

}


.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 10%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

    .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.radio-container:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.form-input-file-preview {
    margin-top: 30px;
}

.form-date {
    font-size: 30px;
    border-radius: 15px;
}

#form-map {
    margin-top: 30px;
    background-color: white;
    width: 100%;
    height: 400px;
    color: black;
    border-radius: 25px;
}

.form-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .form-file + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #666666;
        display: inline-block;
        border: 2px solid black;
        border-radius: 20px;
        padding: 10px;
    }

        .form-file:focus + label,
        .form-file + label:hover {
            background-color: #2196F3;
        }

    .form-file + label {
        cursor: pointer;
        margin-top: 20px;
    }

    .form-file:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

.form-input-submit {
    margin-top: 20px;
}

.form-submit-class {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    border: 5px solid black;
    cursor: pointer;
    border-radius: 25px;
}

    .form-submit-class:hover {
        background-color: aquamarine;
    }

.box-wrapper {
    height: 100%;
}

.left-box-view {
    width: calc(20% - 10px);
    height: 640px;
    background-color: black;
    float: left;
    margin-left: 8%;
    margin-right: 2%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 5px solid black;
}

.left-box-item {
    width: calc(100% - 26px);
    min-height: 120px;
    background-color: #9a9a9a;
    border: 5px solid #212121;
    margin-bottom: 1px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
}

    .left-box-item:hover {
        cursor: pointer;
        background-color: #bababa;
        border-bottom-color: #7a2424;
        border-top-color: #7a2424;
    }

.left-box-item-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.left-box-item-by {
    width: 100%;
}

.left-box-item-type {
    width: 100%;
}

.left-box-item-date-start {
    width: 100%;
}

.left-box-item-date-end {
    width: 100%;
}

.right-box-view {
    width: calc(60% - 70px);
    height: 580px;
    float: left;
    background-color: red;
    margin-left: 2%;
    margin-right: 8%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #aaaaaa;
    border: 5px solid black;
    padding: 30px;
    font-size: 25px;
    border-radius: 2%;
}

.right-box-title {
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #e05252;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-family: Verdana, sans-serif;
}

.right-box-by {
    width: 50%;
    float: left;
}

.right-box-type {
    width: 50%;
    float: left;
}

.right-box-date-start {
    clear: both;
    float: left;
    width: 50%;
}

.right-box-date-end {
    width: 50%;
    float: left;
    margin-bottom: 20px;
}

.right-box-description {
    width: calc(100% - 20px);
    clear: both;
    height: 140px;
    overflow-y: scroll;
    border: 2px solid #1c1c1c;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #dadada;
    color: black;
    border-radius: 25px;
}

.right-box-image {
    width: 40%;
    float: left;
    margin-right: 4%;
}

.right-box-image-class {
    width: 90%;
    border-radius: 25px;
}

#right-box-map {
    color: black;
    float: left;
    width: 56%;
    background-color: white;
    height: 350px;
    border-radius: 25px;
}
