@font-face {
    font-family: "Malaga Pro";
    src: url("fonts/Malaga-Pro.otf");
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #595959;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

#wrapper {
    flex: 1 0 auto;
}

#header {
	background-image: url(https://ssl.gstatic.com/atari/images/impression-header.png);
	background-size: cover;
	text-align: center;
	padding: 90px;
}

#company-name {
    color: white;
    font-size: 120px;
    font-family: Malaga Pro;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: rgb(200, 25, 55);
    text-decoration-style: solid;
}

#login-css {
	padding: 20px;
	text-align: center;
	border-top: 20px solid rgb(25, 25, 25);
	background-size: cover;
	background-color: rgb(44, 44, 44);
}

#content {
	padding-top: 0;
}

#box-left {
	float: left;
	padding-left: 8%;
	padding-right: 8%;
	width: 25%;
	min-width: 380px;
	background-color: rgb(200, 15, 55);
}

#motto {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: Courier;
	font-style: italic;
	color: white;
	padding-bottom: 20px;
}

#box-right {
	float: left;
	padding-left: 8%;
	width: 40%;
	min-height: 303px;
}

#map {
    height: 400px;
    width: 100%;
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
}
.gm-style .gm-style-iw {
    color:black;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}

.login-button{
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: rgb(145, 145, 145);
	border: none;
	border-radius: 15px;
	margin-left: 20px;
	margin-right: 20px;
	width: 270px;
}

.login-button:hover{
	font-weight: bold;
	background-color: rgb(121, 121, 121);
	border-radius: 15px;
	box-shadow: 0 5px rgb(22, 66, 22);
	color: rgb(200, 240, 200);
}

#footer {
    flex-shrink: 0;
    height: 40px;
    background-color: rgb(33, 33, 44);
    padding: 5px;
    text-align: center;
    opacity: 0.75;
}

#rights {
	margin: 0;
	padding: 0;
	color: white;
}

.footer-button {
	font-weight: bold;
	display: inline-block;
	padding: 5px 25px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	margin-left: 25px;
	margin-right: 25px;
	width: 200px;
}

#facebook {
	background-color: #3b5998;
	color: white;
}

#facebook:hover {
	background-color: white;
	color: #3b5998;
}

#register-now {
	padding: 25px;
	font-size: 60px;
    color: black;
	font-family: Impact, fantasy;
	font-style: normal;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-color: rgb(200, 25, 55);
	text-decoration-style: solid;
}

#register-container{
	text-align: center;
}

#login-container{
	text-align: center;
}

.input-box {
    width: 90%;
    padding: 12px 20px;
    margin: 12px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size: 16px;
}

.submit-button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(30, 200, 30);
  border: none;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.nonmodal {
    display: block;
    position: relative;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}

.login-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
    .modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.text-danger{

    font-size:40px;
    font-style:normal;
    color:red;
}

.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#about{
    padding: 50px;
    text-align: left;
    font-size: 24px;
}

.person {
    margin-bottom: 6px;
    margin-top: 6px;
}

.person:hover {
    font-weight: bold;
}